body {
    background: #0d0d0d;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

header {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    max-width: 1300px
}

.header-center {
    font-size: 28px;
    color: #ffcc00;
    font-weight: bold;
}

.header-left {
    position: absolute;
    left: 80px; 
    top: 20px;
    display: flex; 
    gap: 10px;
}


/* =======================
            INDEX
======================= */

.list-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

/* ======== CONTENEDOR DE TARJETAS ======== */
.peliculas-container {
    display: flex;
    gap: 15px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: thin;
}

/* ======== TARJETAS ======== */
.card {
    min-width: 180px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    position: relative;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.07);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.info {
    padding: 10px;
}

.info h3 {
    margin: 5px 0;
    font-size: 16px;
}

.info p {
    font-size: 13px;
    opacity: 0.8;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}

/* =======================
   DETALLE DE PELÍCULA
======================= */

.detalle-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    gap: 30px;
    color: #fff;
}

.detalle-poster img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.detalle-info {
    flex: 1;
}

.detalle-info h1 {
    color: #ffcc00;
}

.btn-volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 14px;
    background: #ffcc00;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}
.btn-volver:hover {
    transform: scale(1.05);
    background: #ffd640;
}

.resenas-container {
    max-width: 900px;
    margin: auto;
}

.resena {
    background: #111;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-agregar {
    margin-top: 20px;
    padding: 10px 20px;
    background: #0066ff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.btn-agregar:hover {
    background: #004ec7;
}


/* ===========================
   POPUP
=========================== */

.popup-content {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
    border: 1px solid #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content h3 {
    margin-top: 0;
    color: #ffcc00;
    margin-bottom: 15px;
}

.popup-content label {
    text-align: left;
    color: #ccc;
    font-size: 14px;
}

.popup-content input,
.popup-content textarea {
    background: #333;
    border: 1px solid #444;
    color: white;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.popup-content input:focus {
    border-color: #ffcc00;
}

.popup-content textarea:focus {
    border-color: #ffcc00;
}

.popup-content button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#btn-agregar {
    background: #ffcc00;
    color: black;
}
#btn-agregar:hover {
    background: #e6b800;
}

#btn-cerrar-login {
    background: #444;
    color: white;
}
#btn-cerrar-login:hover {
    background: #666;
}

/* ============================
      BOTÓN LOGIN (HEADER)
============================= */

.btn-login {
    padding: 8px 15px;
    background: #ffd640;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.btn-login:hover {
    background: #f3dc89;
}

.usuario-logueado {
    margin-top: 0; 
    font-size: 16px;
    display: flex; 
    align-items: center;
    gap: 10px; 
    padding-right: 5px; 
}

/* ============================
      BOTÓN REGISTRO (HEADER)
============================= */

.btn-register {
    padding: 8px 15px;
    background: #008cba; /* Un color diferente, como azul */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-register:hover {
    background: #00739c;
}

/* ============================
      BOTÓN AGREGAR PELICULA (HEADER)
============================= */

.btn-add-movie {
    padding: 8px 15px;
    background: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
.btn-add-movie:hover {
    background: #45a049;
}

/* ============================
      BOTÓN LOGOUT (HEADER)
============================= */

.btn-logout {
        background: #ff4444;
        color: white;
        border: none;
        padding: 8px 15px;
        margin-left: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
    }
    .btn-logout:hover { background: #cc0000; }
    
/* ============================
      POPUP LOGIN
============================= */

.popup {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: 10000; 
    backdrop-filter: blur(5px); 
}


.popup-content-login {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
    border: 1px solid #333;
    text-align: center;
    gap: 10px;
    z-index: 10001; /* Añadir un z-index alto */
    position: relative;
}

#login-form-content,
#register-form-content {
    position: relative;
    z-index: 10002;
}

.popup-content-login input,
.popup-content-login textarea {
    background: #333;
    border: 1px solid #444;
    color: white;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    resize: vertical 
}

.popup-content-login label{
    display: block;
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 5px; 
}

.popup-form-content {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}
#add-movie-form-content {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

.popup-content-login textarea:focus {
    border-color: #ffcc00;
}
.popup-content-login h3 {
    margin-top: 0;
    color: #ffcc00;
    margin-bottom: 15px;
}

.popup-content-login label {
    text-align: left;
    color: #ccc;
    font-size: 14px;
}

.popup-content-login input {
    background: #333;
    border: 1px solid #444;
    color: white;
    padding: 12px;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}

.popup-content-login input:focus {
    border-color: #ffcc00;
}

.popup-content-login button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#btn-submit-login {
    background: #ffcc00;
    color: black;
}
#btn-submit-login:hover {
    background: #e6b800;
}

#btn-cerrar-login {
    background: #444;
    color: white;
}
#btn-cerrar-login:hover {
    background: #666;
}

.btn-toggle-form {
    background: none !important;
    border: none !important;
    color: #00bfff !important; /* Azul claro */
    font-size: 14px;
    margin-top: 5px !important;
    padding: 5px !important;
    cursor: pointer;
}

.btn-toggle-form:hover {
    text-decoration: underline;
}

#btn-submit-register {
    background: #00bfff; 
    color: white;
}
#btn-submit-register:hover {
    background: #0099cc;
}

#auth-buttons-unlogged {
    display: flex;
    gap: 20px; 
}

/* Estilos para el estado logueado */
#auth-buttons-logged {
    display: none; 
    align-items: center;
    gap: 20px; 
}